old/categories.html
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Modern Business - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/modern-business.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet"
          type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Site Tittle</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="about.html">About</a>
                </li>
                <li>
                    <a href="services.html">Services</a>
                </li>
                <li>
                    <a href="contact.html">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
        <!-- Cart ahref -->
        <div class="cart">
            <a class="btn btn-small" href="cart.html"><h4><i
                    class="fa fa-fw fa-trash"></i> (25) Cart</h4></a>
        </div>
    </div>
    <!-- /.container -->
</nav>

<!-- Page Content -->
<div class="container">
    <div class="container-box">
        <div class="col-md-12">
            <h1 class="page-header">
                Welcome to Modern Business
            </h1>

            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="http://placehold.it/800x500" alt="">

                    <div class="caption">
                        <h3>Feature Label</h3>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit.</p>
                        <span class="price">By now: 600$ </span>
                        <span class="ex-tax"><strong><strike>Ex Tax:
                            $500.00</strike></strong></span>
                        <hr>
                        <p>
                            <a href="#" class="btn btn-primary">Buy Now!</a> <a
                                href="more-info.html" class="btn btn-default">More
                            Info</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="http://placehold.it/800x500" alt="">

                    <div class="caption">
                        <h3>Feature Label</h3>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit.</p>
                        <span class="price">By now: 600$ </span>
                        <span class="ex-tax"><strong><strike>Ex Tax:
                            $500.00</strike></strong></span>
                        <hr>
                        <p>
                            <a href="#" class="btn btn-primary">Buy Now!</a> <a
                                href="more-info.html" class="btn btn-default">More
                            Info</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="http://placehold.it/800x500" alt="">

                    <div class="caption">
                        <h3>Feature Label</h3>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit.</p>
                        <span class="price">By now: 600$ </span>
                        <span class="ex-tax"><strong><strike>Ex Tax:
                            $500.00</strike></strong></span>
                        <hr>
                        <p>
                            <a href="#" class="btn btn-primary">Buy Now!</a> <a
                                href="more-info.html" class="btn btn-default">More
                            Info</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="http://placehold.it/800x500" alt="">

                    <div class="caption">
                        <h3>Feature Label</h3>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit.</p>
                        <span class="price">By now: 600$ </span>
                        <span class="ex-tax"><strong><strike>Ex Tax:
                            $500.00</strike></strong></span>
                        <hr>
                        <p>
                            <a href="#" class="btn btn-primary">Buy Now!</a> <a
                                href="more-info.html" class="btn btn-default">More
                            Info</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="http://placehold.it/800x500" alt="">

                    <div class="caption">
                        <h3>Feature Label</h3>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit.</p>
                        <span class="price">By now: 600$ </span>
                        <span class="ex-tax"><strong><strike>Ex Tax:
                            $500.00</strike></strong></span>
                        <hr>
                        <p>
                            <a href="#" class="btn btn-primary">Buy Now!</a> <a
                                href="more-info.html" class="btn btn-default">More
                            Info</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="http://placehold.it/800x500" alt="">

                    <div class="caption">
                        <h3>Feature Label</h3>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit.</p>
                        <span class="price">By now: 600$ </span>
                        <span class="ex-tax"><strong><strike>Ex Tax:
                            $500.00</strike></strong></span>
                        <hr>
                        <p>
                            <a href="#" class="btn btn-primary">Buy Now!</a> <a
                                href="more-info.html" class="btn btn-default">More
                            Info</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="http://placehold.it/800x500" alt="">

                    <div class="caption">
                        <h3>Feature Label</h3>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit.</p>
                        <span class="price">By now: 600$ </span>
                        <span class="ex-tax"><strong><strike>Ex Tax:
                            $500.00</strike></strong></span>
                        <hr>
                        <p>
                            <a href="#" class="btn btn-primary">Buy Now!</a> <a
                                href="more-info.html" class="btn btn-default">More
                            Info</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="http://placehold.it/800x500" alt="">

                    <div class="caption">
                        <h3>Feature Label</h3>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit.</p>
                        <span class="price">By now: 600$ </span>
                        <span class="ex-tax"><strong><strike>Ex Tax:
                            $500.00</strike></strong></span>
                        <hr>
                        <p>
                            <a href="#" class="btn btn-primary">Buy Now!</a> <a
                                href="more-info.html" class="btn btn-default">More
                            Info</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="http://placehold.it/800x500" alt="">

                    <div class="caption">
                        <h3>Feature Label</h3>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit.</p>
                        <span class="price">By now: 600$ </span>
                        <span class="ex-tax"><strong><strike>Ex Tax:
                            $500.00</strike></strong></span>
                        <hr>
                        <p>
                            <a href="#" class="btn btn-primary">Buy Now!</a> <a
                                href="more-info.html" class="btn btn-default">More
                            Info</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="http://placehold.it/800x500" alt="">

                    <div class="caption">
                        <h3>Feature Label</h3>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit.</p>
                        <span class="price">By now: 600$ </span>
                        <span class="ex-tax"><strong><strike>Ex Tax:
                            $500.00</strike></strong></span>
                        <hr>
                        <p>
                            <a href="#" class="btn btn-primary">Buy Now!</a> <a
                                href="more-info.html" class="btn btn-default">More
                            Info</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="http://placehold.it/800x500" alt="">

                    <div class="caption">
                        <h3>Feature Label</h3>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit.</p>
                        <span class="price">By now: 600$ </span>
                        <span class="ex-tax"><strong><strike>Ex Tax:
                            $500.00</strike></strong></span>
                        <hr>
                        <p>
                            <a href="#" class="btn btn-primary">Buy Now!</a> <a
                                href="more-info.html" class="btn btn-default">More
                            Info</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="http://placehold.it/800x500" alt="">

                    <div class="caption">
                        <h3>Feature Label</h3>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit.</p>
                        <span class="price">By now: 600$ </span>
                        <span class="ex-tax"><strong><strike>Ex Tax:
                            $500.00</strike></strong></span>
                        <hr>
                        <p>
                            <a href="#" class="btn btn-primary">Buy Now!</a> <a
                                href="more-info.html" class="btn btn-default">More
                            Info</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="http://placehold.it/800x500" alt="">

                    <div class="caption">
                        <h3>Feature Label</h3>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit.</p>
                        <span class="price">By now: 600$ </span>
                        <span class="ex-tax"><strong><strike>Ex Tax:
                            $500.00</strike></strong></span>
                        <hr>
                        <p>
                            <a href="#" class="btn btn-primary">Buy Now!</a> <a
                                href="more-info.html" class="btn btn-default">More
                            Info</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="http://placehold.it/800x500" alt="">

                    <div class="caption">
                        <h3>Feature Label</h3>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit.</p>
                        <span class="price">By now: 600$ </span>
                        <span class="ex-tax"><strong><strike>Ex Tax:
                            $500.00</strike></strong></span>
                        <hr>
                        <p>
                            <a href="#" class="btn btn-primary">Buy Now!</a> <a
                                href="more-info.html" class="btn btn-default">More
                            Info</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="http://placehold.it/800x500" alt="">

                    <div class="caption">
                        <h3>Feature Label</h3>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit.</p>
                        <span class="price">By now: 600$ </span>
                        <span class="ex-tax"><strong><strike>Ex Tax:
                            $500.00</strike></strong></span>
                        <hr>
                        <p>
                            <a href="#" class="btn btn-primary">Buy Now!</a> <a
                                href="more-info.html" class="btn btn-default">More
                            Info</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="http://placehold.it/800x500" alt="">

                    <div class="caption">
                        <h3>Feature Label</h3>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit.</p>
                        <span class="price">By now: 600$ </span>
                        <span class="ex-tax"><strong><strike>Ex Tax:
                            $500.00</strike></strong></span>
                        <hr>
                        <p>
                            <a href="#" class="btn btn-primary">Buy Now!</a> <a
                                href="more-info.html" class="btn btn-default">More
                            Info</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- /.row -->

        <hr>

        <!-- Call to Action Section -->
        <div class="container">
            <div class="container-box">
                <div class="well">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-8">
                                <p>Lorem ipsum dolor sit amet, consectetur
                                    adipisicing
                                    elit. Molestias, expedita, saepe, vero rerum
                                    deleniti beatae veniam harum neque nemo
                                    praesentium
                                    cum alias asperiores commodi.</p>
                            </div>
                            <div class="col-md-4">
                                <a class="btn btn-lg btn-default btn-block"
                                   href="#"><i
                                        class="fa fa-fw fa-envelope"></i><strong>SUBSCRIBE</strong></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>

<!-- Footer -->
<footer>
    <!-- Start Footer 1-1 -->
    <section class="content-block-nopad bg-deepocean">
        <div class="footer-box">

            <div class="foter-color">
                <div class="container">
                    <div class="row">

                        <div class="col-sm-5">
                            <!--<img src="images/brand/bskit-logo-white.png" class="brand-img img-responsive">-->
                            <div class="editContent">
                                <h3>Over <strong>10,000</strong> downloads last
                                    month…</h3>
                            </div>
                            <div class="editContent">
                                <p class="lead">We've hand-crafted
                                    <strong>bskit</strong> in great detail to
                                    make your life easier… enjoy!</p>
                            </div>
                        </div>

                        <div class="col-sm-6 col-sm-offset-1">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="editContent">
                                        <h4>Shortcuts</h4>
                                    </div>
                                    <div class="editContent">
                                        <ul>
                                            <li><a href="#">About us</a></li>
                                            <li><a href="#">Services</a></li>
                                            <li><a href="#">Portfolio</a></li>
                                            <li><a href="#">Blog</a></li>
                                            <li><a href="#">Contact</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="editContent">
                                        <h4>Legal Stuff</h4>
                                    </div>
                                    <div class="editContent">
                                        <ul>
                                            <li><a href="#">Privacy Policy</a>
                                            </li>
                                            <li><a href="#">Terms &amp;
                                                Conditions</a></li>
                                            <li><a href="#">Cookie Policy</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="editContent">
                                        <h4>Seen Enough?</h4>
                                    </div>
                                    <a href="#"
                                       class="btn btn-block btn-primary">Buy
                                        Now</a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->
            </div>
            <!-- ecn footer color -->
        </div>
        <!--end footer box-->
    </section>
    <!--// END Footer 1-1 -->
</footer>

</div>
<!-- /.container -->

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Script to Activate the Carousel -->
<script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
</script>

</body>

</html>

old/categories.pug

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Modern Business - Start Bootstrap Template
    // Bootstrap Core CSS 
    link(href='css/bootstrap.min.css', rel='stylesheet')
    // Custom CSS 
    link(href='css/modern-business.css', rel='stylesheet')
    // Custom Fonts 
    link(href='font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries 
    // WARNING: Respond.js doesn't work if you view the page via file:// 
    //[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]
  body
    // Navigation 
    nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container
        // Brand and toggle get grouped for better mobile display 
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            |  
            span.icon-bar
            |  
            span.icon-bar
            |  
            span.icon-bar
          |  
          a.navbar-brand(href='index.html') Site Tittle
        // Collect the nav links, forms, and other content for toggling 
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
        // /.navbar-collapse 
        // Cart ahref 
        .cart
      // /.container 
    // Page Content 
    .container
    hr
    // Footer 
    footer
      // Start Footer 1-1 
      section.content-block-nopad.bg-deepocean
        .footer-box
          .foter-color
            .container
              .row
                .col-sm-5
                  //<img src="images/brand/bskit-logo-white.png" class="brand-img img-responsive">
                  .editContent
                  .editContent
                .col-sm-6.col-sm-offset-1
              // /.row 
            // /.container 
          // ecn footer color 
        //end footer box
      //// END Footer 1-1 
    // /.container 
    // jQuery 
    script(src='js/jquery.js')
    // Bootstrap Core JavaScript 
    script(src='js/bootstrap.min.js')
    // Script to Activate the Carousel 
    script
      | $('.carousel').carousel({
      | interval: 5000 //changes the speed
      | })
