old/index.html
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Modern Business - Start Bootstrap Template</title>

  <!-- Bootstrap Core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="css/modern-business.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet"
        type="text/css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script
    src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script
    src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html">Site Tittle</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="about.html">About</a>
        </li>
        <li>
          <a href="services.html">Services</a>
        </li>
        <li>
          <a href="contact.html">Contact</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
    <!-- Cart ahref -->
    <div class="cart">
      <a class="btn btn-small" href="cart.html"><h4><i
        class="fa fa-fw fa-trash"></i> (25) Cart</h4></a>
    </div>
  </div>
  <!-- /.container -->
</nav>

<!-- Header Carousel -->
<header id="myCarousel" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <div class="fill"
           style="background-image:url('http://placehold.it/1900x1080&text=Slide One');"></div>
      <div class="carousel-caption">
        <h2>Caption 1</h2>
      </div>
    </div>
    <div class="item">
      <div class="fill"
           style="background-image:url('http://placehold.it/1900x1080&text=Slide Two');"></div>
      <div class="carousel-caption">
        <h2>Caption 2</h2>
      </div>
    </div>
    <div class="item">
      <div class="fill"
           style="background-image:url('http://placehold.it/1900x1080&text=Slide Three');"></div>
      <div class="carousel-caption">
        <h2>Caption 3</h2>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="icon-next"></span>
  </a>
</header>

<!-- Page Content -->
<div class="container">

  <!-- Marketing Icons Section -->
  <div class="row">
    <div class="list-group-box">
      <div class="col-md-3">
        <div class="list-group">
          <a href="categories.html" class="list-group-item">Home</a>
          <a href="categories.html" class="list-group-item">About</a>
          <a href="categories.html" class="list-group-item">Services</a>
          <a href="categories.html" class="list-group-item">Contact</a>
          <a href="categories.html" class="list-group-item">1 Column
            Portfolio</a>
          <a href="categories.html" class="list-group-item">2 Column
            Portfolio</a>
          <a href="categories.html" class="list-group-item">3 Column
            Portfolio</a>
          <a href="categories.html" class="list-group-item">4 Column
            Portfolio</a>
          <a href="categories.html" class="list-group-item">Single Portfolio
            Item</a>
          <a href="categories.html" class="list-group-item">Blog Home 1</a>
          <a href="categories.html" class="list-group-item">Blog Home 2</a>
          <a href="categories.html" class="list-group-item">Blog Post</a>
          <a href="categories.html" class="list-group-item">Full Width Page</a>
          <a href="categories.html" class="list-group-item active">Sidebar
            Page</a>
          <a href="categories.html" class="list-group-item">FAQ</a>
          <a href="categories.html" class="list-group-item">404</a>
          <a href="categories.html" class="list-group-item">Pricing Table</a>
        </div>
      </div>
    </div>

    <div class="col-lg-9">
      <h1 class="page-header">
        Welcome to Modern Business
      </h1>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
        <img src="http://placehold.it/800x500" alt="">
        <div class="caption">
          <h3>Feature Label</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <span class="price">By now: 600$ </span>
          <span class="ex-tax"><strong><strike>Ex Tax: $500.00</strike></strong></span>
          <hr>
          <p>
            <a href="#" class="btn btn-primary">Buy Now!</a> <a
            href="more-info.html" class="btn btn-default">More Info</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
        <img src="http://placehold.it/800x500" alt="">
        <div class="caption">
          <h3>Feature Label</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <span class="price">By now: 600$ </span>
          <span class="ex-tax"><strong><strike>Ex Tax: $500.00</strike></strong></span>
          <hr>
          <p>
            <a href="#" class="btn btn-primary">Buy Now!</a> <a
            href="more-info.html" class="btn btn-default">More Info</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
        <img src="http://placehold.it/800x500" alt="">
        <div class="caption">
          <h3>Feature Label</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <span class="price">By now: 600$ </span>
          <span class="ex-tax"><strong><strike>Ex Tax: $500.00</strike></strong></span>
          <hr>
          <p>
            <a href="#" class="btn btn-primary">Buy Now!</a> <a
            href="more-info.html" class="btn btn-default">More Info</a>
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="thumbnail">
        <img src="http://placehold.it/800x500" alt="">
        <div class="caption">
          <h3>Feature Label</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <span class="price">By now: 600$ </span>
          <span class="ex-tax"><strong><strike>Ex Tax: $500.00</strike></strong></span>
          <hr>
          <p>
            <a href="#" class="btn btn-primary">Buy Now!</a> <a
            href="more-info.html" class="btn btn-default">More Info</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
        <img src="http://placehold.it/800x500" alt="">
        <div class="caption">
          <h3>Feature Label</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <span class="price">By now: 600$ </span>
          <span class="ex-tax"><strong><strike>Ex Tax: $500.00</strike></strong></span>
          <hr>
          <p>
            <a href="#" class="btn btn-primary">Buy Now!</a> <a
            href="more-info.html" class="btn btn-default">More Info</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
        <img src="http://placehold.it/800x500" alt="">
        <div class="caption">
          <h3>Feature Label</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <span class="price">By now: 600$ </span>
          <span class="ex-tax"><strong><strike>Ex Tax: $500.00</strike></strong></span>
          <hr>
          <p>
            <a href="#" class="btn btn-primary">Buy Now!</a> <a
            href="more-info.html" class="btn btn-default">More Info</a>
          </p>
        </div>
      </div>
    </div>


  </div>
  <!-- /.row -->

  <!-- Portfolio Section -->
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">Any Products</h2>
    </div>
    <div class="col-md-4 col-sm-6">
      <a href="more-info.html">
        <img class="img-responsive img-portfolio img-hover"
             src="http://placehold.it/700x450" alt="">
      </a>
    </div>
    <div class="col-md-4 col-sm-6">
      <a href="more-info.html">
        <img class="img-responsive img-portfolio img-hover"
             src="http://placehold.it/700x450" alt="">
      </a>
    </div>
    <div class="col-md-4 col-sm-6">
      <a href="more-info.html">
        <img class="img-responsive img-portfolio img-hover"
             src="http://placehold.it/700x450" alt="">
      </a>
    </div>
    <div class="col-md-4 col-sm-6">
      <a href="more-info.html">
        <img class="img-responsive img-portfolio img-hover"
             src="http://placehold.it/700x450" alt="">
      </a>
    </div>
    <div class="col-md-4 col-sm-6">
      <a href="more-info.html">
        <img class="img-responsive img-portfolio img-hover"
             src="http://placehold.it/700x450" alt="">
      </a>
    </div>
    <div class="col-md-4 col-sm-6">
      <a href="more-info.html">
        <img class="img-responsive img-portfolio img-hover"
             src="http://placehold.it/700x450" alt="">
      </a>
    </div>
  </div>
  <!-- /.row -->

  <!-- Features Section -->
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">Modern Business Features</h2>
    </div>
    <div class="col-md-6">
      <p>The Modern Business template by Start Bootstrap includes:</p>
      <ul>
        <li><strong>Bootstrap v3.2.0</strong>
        </li>
        <li>jQuery v1.11.0</li>
        <li>Font Awesome v4.1.0</li>
        <li>Working PHP contact form with validation</li>
        <li>Unstyled page elements for easy customization</li>
        <li>17 HTML pages</li>
      </ul>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis,
        omnis doloremque non cum id reprehenderit, quisquam totam aspernatur
        tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum
        ducimus unde.</p>
    </div>
    <div class="col-md-6">
      <img class="img-responsive" src="http://placehold.it/700x450" alt="">
    </div>
  </div>
  <!-- /.row -->

  <hr>

  <!-- Call to Action Section -->
  <div class="well">
    <div class="row">
      <div class="col-md-8">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias,
          expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo
          praesentium cum alias asperiores commodi.</p>
      </div>
      <div class="col-md-4">
        <a class="btn btn-lg btn-default btn-block" href="#"><i
          class="fa fa-fw fa-envelope"></i><strong>SUBSCRIBE</strong></a>
      </div>
    </div>
  </div>

  <hr>

  <!-- Footer -->
  <footer>
    <!-- Start Footer 1-1 -->
    <section class="content-block-nopad bg-deepocean">
      <div class="footer-box">

        <div class="foter-color">
          <div class="container">
            <div class="row">

              <div class="col-sm-5">
                <!--<img src="images/brand/bskit-logo-white.png" class="brand-img img-responsive">-->
                <div class="editContent">
                  <h3>Over <strong>10,000</strong> downloads last month…</h3>
                </div>
                <div class="editContent">
                  <p class="lead">We've hand-crafted <strong>bskit</strong> in
                    great detail to make your life easier… enjoy!</p>
                </div>
              </div>

              <div class="col-sm-6 col-sm-offset-1">
                <div class="row">
                  <div class="col-md-4">
                    <div class="editContent">
                      <h4>Shortcuts</h4>
                    </div>
                    <div class="editContent">
                      <ul>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Portfolio</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Contact</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="editContent">
                      <h4>Legal Stuff</h4>
                    </div>
                    <div class="editContent">
                      <ul>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms &amp; Conditions</a></li>
                        <li><a href="#">Cookie Policy</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="editContent">
                      <h4>Seen Enough?</h4>
                    </div>
                    <a href="#" class="btn btn-block btn-primary">Buy Now</a>
                  </div>
                </div>
              </div>

            </div><!-- /.row -->
          </div><!-- /.container -->
        </div><!-- ecn footer color -->
      </div><!--end footer box-->
    </section>
    <!--// END Footer 1-1 -->
  </footer>

</div>
<!-- /.container -->

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Script to Activate the Carousel -->
<script>
  $('.carousel').carousel({
    interval: 5000 //changes the speed
  })
</script>

</body>

</html>

old/index.pug

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Modern Business - Start Bootstrap Template
    // Bootstrap Core CSS 
    link(href='css/bootstrap.min.css', rel='stylesheet')
    // Custom CSS 
    link(href='css/modern-business.css', rel='stylesheet')
    // Custom Fonts 
    link(href='font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')

  body
    // Navigation 
    nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container
        // Brand and toggle get grouped for better mobile display 
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='index.html') Site Tittle
        // Collect the nav links, forms, and other content for toggling 
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li: a(href="about.html") About
            li: a(href="services.html") Services
            li: a(href="contact.html") Contact
        // /.navbar-collapse
        // Cart ahref 
        .cart
          a.btn.btn-small(href="cart.html")
            h4: i.fa.fa-fw.fa-trash
              | (25) Cart
      // /.container 
    // Header Carousel 
    header#myCarousel.carousel.slide
      // Indicators 
      ol.carousel-indicators
        li.active(data-target='#myCarousel', data-slide-to='0')
        li(data-target='#myCarousel', data-slide-to='1')
        li(data-target='#myCarousel', data-slide-to='2')
      // Wrapper for slides 
      .carousel-inner
        .item.active
          .fill(style='background-image:url("http://placehold.it/1900x1080&text=Slide One")')
          .carousel-caption
        .item
          .fill(style='background-image:url("http://placehold.it/1900x1080&text=Slide Two")')
          .carousel-caption
        .item
          .fill(style='background-image:url("http://placehold.it/1900x1080&text=Slide Three")')
          .carousel-caption
      // Controls 
      |  
      a.left.carousel-control(href='#myCarousel', data-slide='prev')
        span.icon-prev
        |  
      a.right.carousel-control(href='#myCarousel', data-slide='next')
    // Page Content 
    .container
      // Marketing Icons Section 
      .row
        .list-group-box
          .col-md-3
            .list-group
              a.list-group-item(href="categories.html") Home
              a.list-group-item(href="categories.html") Home
              a.list-group-item(href="categories.html") Home
              a.list-group-item(href="categories.html") Home
              a.list-group-item(href="categories.html") Home
              a.list-group-item(href="categories.html") Home
              a.list-group-item(href="categories.html") Home
              a.list-group-item(href="categories.html") Home
              a.list-group-item(href="categories.html") Home
        .col-lg-9
          h1.page-header Welcome test

        .col-md-3
          include ./app/shared/product/product-teser.pug
        .col-md-3
          include ./app/shared/product/product-teser.pug
        .col-md-3
          include ./app/shared/product/product-teser.pug
        .col-md-3
          include ./app/shared/product/product-teser.pug
        .col-md-3
          include ./app/shared/product/product-teser.pug
        .col-md-3
          include ./app/shared/product/product-teser.pug
      // /.row 
      // Portfolio Section 
      .row
        .col-lg-12
          h2.page-header Any products
        .col-md-4.col-sm-6
          a(href="more-info.html")
            img.img-responsive.img-portfolio.img-hover(src="http://placehold.it/700x450")
        .col-md-4.col-sm-6
          a(href="more-info.html")
            img.img-responsive.img-portfolio.img-hover(src="http://placehold.it/700x450")
        .col-md-4.col-sm-6
          a(href="more-info.html")
            img.img-responsive.img-portfolio.img-hover(src="http://placehold.it/700x450")
        .col-md-4.col-sm-6
          a(href="more-info.html")
            img.img-responsive.img-portfolio.img-hover(src="http://placehold.it/700x450")
        .col-md-4.col-sm-6
          a(href="more-info.html")
            img.img-responsive.img-portfolio.img-hover(src="http://placehold.it/700x450")
        .col-md-4.col-sm-6
          a(href="more-info.html")
            img.img-responsive.img-portfolio.img-hover(src="http://placehold.it/700x450")
      // /.row 
      // Features Section 
      .row
        .col-lg-12
        .col-md-6
          p The Modern Business template by Start Bootstrap includes:
          ul
            li
            li jQuery v1.11.0
            li Font Awesome v4.1.0
            li Working PHP contact form with validation
            li Unstyled page elements for easy customization
            li 17 HTML pages
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.
        .col-md-6
      // /.row 
      hr
      // Call to Action Section 
      .well
      hr
      // Footer 
      footer
        // Start Footer 1-1 
        section.content-block-nopad.bg-deepocean
          .footer-box
            .foter-color
              .container
                .row
                  .col-sm-5
                    //<img src="images/brand/bskit-logo-white.png" class="brand-img img-responsive">
                    .editContent
                      h3 Over
                        strong 10,00
                        | downloads last month...
                    .editContent
                      p.lead We've hand-crafted
                        strong bskit
                        | in great detail to make your life easier... enjoy!
                  .col-sm-6.col-sm-offset-1
                    .row
                      .col-md-4
                        .editContent
                          h4 Shortcuts
                        .editContent
                          ul
                            li: a(href='#') About us
                            li: a(href='#') About us
                            li: a(href='#') About us
                            li: a(href='#') About us
                            li: a(href='#') About us
                            li: a(href='#') About us
                      .col-md-4
                        .editContent
                          ul
                            li: a(href="#") Privasy Policy
                            li: a(href="#") Privasy Policy
                            li: a(href="#") Privasy Policy
                      .col-md-4
                        .editContent
                          h4 Seen ????
                        a.btn.btn-block.btn-primary(href="#") By now!
                // /.row
              // /.container 
            // ecn footer color 
          //end footer box
        //// END Footer 1-1 
    // /.container 
    // jQuery 
    script(src='js/jquery.min.js')
    // Bootstrap Core JavaScript 
    script(src='js/bootstrap.min.js')
    // Script to Activate the Carousel 
    script
      | $('.carousel').carousel({
      |  interval: 5000 //changes the speed
      | })
