old/more-info.pug

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Modern Business - Start Bootstrap Template
    // Bootstrap Core CSS 
    link(href='css/bootstrap.min.css', rel='stylesheet')
    // Custom CSS 
    link(href='css/modern-business.css', rel='stylesheet')
    // Custom Fonts 
    link(href='font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries 
    // WARNING: Respond.js doesn't work if you view the page via file:// 
    //[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]
  body
    // Navigation 
    nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container
        // Brand and toggle get grouped for better mobile display 
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            |  
            span.icon-bar
            |  
            span.icon-bar
            |  
            span.icon-bar
          |  
          a.navbar-brand(href='index.html') Site Tittle
        // Collect the nav links, forms, and other content for toggling 
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
        // /.navbar-collapse 
        // Cart ahref 
        .cart
      // /.container 
    // Page Content 
    .container
      .container-box
      // Page Heading/Breadcrumbs 
      .row
      // /.row 
      // Portfolio Item Row 
      .row
        .col-md-8
          #carousel-example-generic.carousel.slide(data-ride='carousel')
            // Indicators 
            ol.carousel-indicators
              li.active(data-target='#carousel-example-generic', data-slide-to='0')
              li(data-target='#carousel-example-generic', data-slide-to='1')
              li(data-target='#carousel-example-generic', data-slide-to='2')
            // Wrapper for slides 
            .carousel-inner
              .item.active
              .item
              .item
            // Controls 
            |  
            a.left.carousel-control(href='#carousel-example-generic', data-slide='prev')
              span.glyphicon.glyphicon-chevron-left
              |  
            a.right.carousel-control(href='#carousel-example-generic', data-slide='next')
          .container-box
            .col-sm-4
            .col-sm-4
            .col-sm-4
        .col-md-4
          button.btn.btn-large
            i.fa.fa-fw.fa-heart(title='Add to wish')
            |  Add to Wish
          |  
          button.btn.btn-large
            i.fa.fa-fw.fa-random(title='Add to wish')
            |  Add to Wish
          h3 Brand (Lorem)
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.
          hr
          h4 Product Code - 23142
          h5 Reward Points: 12345
          h5 Availability: Out Of Stock
          hr
          span.price By now: 600$ 
          span.ex-tax
          |  
          button.btn.btn-large.btn-success(style='float: right', type='button') Add to cart
          hr
          h3 Project Details
          ul
            li Lorem Ipsum
            li Dolor Sit Amet
            li Consectetur
            li Adipiscing Elit
      // /.row 
      // Related Projects Row 
      .row
      // /.row 
      hr
      // Footer 
      footer
        // Start Footer 1-1 
        section.content-block-nopad.bg-deepocean
          .footer-box
            .foter-color
              .container
                .row
                  .col-sm-5
                    //<img src="images/brand/bskit-logo-white.png" class="brand-img img-responsive">
                    .editContent
                    .editContent
                  .col-sm-6.col-sm-offset-1
                // /.row 
              // /.container 
            // ecn footer color 
          //end footer box
        //// END Footer 1-1 
    // /.container 
    // jQuery 
    script(src='js/jquery.js')
    // Bootstrap Core JavaScript 
    script(src='js/bootstrap.min.js')

old/more-info.html
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Modern Business - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/modern-business.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Site Tittle</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="about.html">About</a>
                    </li>
                    <li>
                        <a href="services.html">Services</a>
                    </li>
                    <li>
                        <a href="contact.html">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
            <!-- Cart ahref -->
            <div class="cart">
                <a class="btn btn-small" href="cart.html"><h4><i class="fa fa-fw fa-trash"></i> (25) Cart</h4></a>
            </div>
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">
        <div class="container-box"></div>
        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Portfolio Item
                    <small>Subheading</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="index.html"><i class="fa fa-fw fa-home"></i></a>
                    </li>
                    <li class="active">Portfolio Item</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img class="img-responsive" src="http://placehold.it/750x500" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="http://placehold.it/750x500" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="http://placehold.it/750x500" alt="">
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
                <div class="container-box">
                    <div class="col-sm-4">
                        <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
                    </div>
                    <div class="col-sm-4">
                        <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
                    </div>
                    <div class="col-sm-4">
                        <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <button class="btn btn-large"><i class="fa fa-fw fa-heart" title="Add to wish"></i> Add to Wish</button>
                <button class="btn btn-large"><i class="fa fa-fw fa-random" title="Add to wish"></i> Add to Wish</button>
                <h3>Brand (Lorem)</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>
                <hr>
                <h4>Product Code - 23142</h4>
                <h5>Reward Points: 12345</h5>
                <h5>Availability: Out Of Stock</h5>
                <hr>
                <span class="price">By now: 600$ </span>
                <span class="ex-tax"><strong><strike>Ex Tax: $500.00</strike></strong></span>
                <button class="btn btn-large btn-success" style="float: right" type="button">Add to cart</button>
                <hr>

                <h3>Project Details</h3>
                <ul>
                    <li>Lorem Ipsum</li>
                    <li>Dolor Sit Amet</li>
                    <li>Consectetur</li>
                    <li>Adipiscing Elit</li>
                </ul>
            </div>

        </div>
        <!-- /.row -->




        <!-- Related Projects Row -->
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <h3 class="page-header">Similar Products</h3>
                </div>

                <div class="col-md-3">
                    <div class="thumbnail">
                        <img src="http://placehold.it/800x500" alt="">
                        <div class="caption">
                            <h3>Feature Label</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <span class="price">By now: 600$ </span>
                            <span class="ex-tax"><strong><strike>Ex Tax: $500.00</strike></strong></span>
                                <a href="#" class="btn btn-primary">Buy Now!</a> <a href="more-info.html" class="btn btn-default">More Info</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="thumbnail">
                        <img src="http://placehold.it/800x500" alt="">
                        <div class="caption">
                            <h3>Feature Label</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <span class="price">By now: 600$ </span>
                            <span class="ex-tax"><strong><strike>Ex Tax: $500.00</strike></strong></span>
                                <a href="#" class="btn btn-primary">Buy Now!</a> <a href="more-info.html" class="btn btn-default">More Info</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="thumbnail">
                        <img src="http://placehold.it/800x500" alt="">
                        <div class="caption">
                            <h3>Feature Label</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <span class="price">By now: 600$ </span>
                            <span class="ex-tax"><strong><strike>Ex Tax: $500.00</strike></strong></span>
                                <a href="#" class="btn btn-primary">Buy Now!</a> <a href="more-info.html" class="btn btn-default">More Info</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="thumbnail">
                        <img src="http://placehold.it/800x500" alt="">
                        <div class="caption">
                            <h3>Feature Label</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <span class="price">By now: 600$ </span>
                            <span class="ex-tax"><strong><strike>Ex Tax: $500.00</strike></strong></span>
                                <a href="#" class="btn btn-primary">Buy Now!</a> <a href="more-info.html" class="btn btn-default">More Info</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <!-- Start Footer 1-1 -->
            <section class="content-block-nopad bg-deepocean">
                <div class="footer-box">

                    <div class="foter-color">
                        <div class="container">
                            <div class="row">

                                <div class="col-sm-5">
                                    <!--<img src="images/brand/bskit-logo-white.png" class="brand-img img-responsive">-->
                                    <div class="editContent">
                                        <h3>Over <strong>10,000</strong> downloads last month…</h3>
                                    </div>
                                    <div class="editContent">
                                        <p class="lead">We've hand-crafted <strong>bskit</strong> in great detail to make your life easier… enjoy!</p>
                                    </div>
                                </div>

                                <div class="col-sm-6 col-sm-offset-1">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="editContent">
                                                <h4>Shortcuts</h4>
                                            </div>
                                            <div class="editContent">
                                                <ul>
                                                    <li><a href="#">About us</a></li>
                                                    <li><a href="#">Services</a></li>
                                                    <li><a href="#">Portfolio</a></li>
                                                    <li><a href="#">Blog</a></li>
                                                    <li><a href="#">Contact</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="editContent">
                                                <h4>Legal Stuff</h4>
                                            </div>
                                            <div class="editContent">
                                                <ul>
                                                    <li><a href="#">Privacy Policy</a></li>
                                                    <li><a href="#">Terms &amp; Conditions</a></li>
                                                    <li><a href="#">Cookie Policy</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="editContent">
                                                <h4>Seen Enough?</h4>
                                            </div>
                                            <a href="#" class="btn btn-block btn-primary">Buy Now</a>
                                        </div>
                                    </div>
                                </div>

                            </div><!-- /.row -->
                        </div><!-- /.container -->
                    </div><!-- ecn footer color -->
                </div><!--end footer box-->
            </section>
            <!--// END Footer 1-1 -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
